body {
  display: grid;
  justify-content: center;
  font-family: Roboto;
  margin: 0;
}

svg {
  height: 20px;
}

input {
  width: 400px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: #e2e8f0;
}

img {
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  background-color: #a3a3a3;
}

.small-img {
  height: 30px;
}

.sidebar-icon > svg {
  fill: white;
}

#dashboard-icon > svg {
  height: 40px;
  fill: white;
}

.container {
  max-width: 1250px;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  border-right: 1px solid black;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 10px;
}

.top-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: baseline;
}

.left-top-header {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.right-top-header {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.profile-name {
  font-weight: bold;
}

.bottom-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.left-bottom-header {
  display: flex;
  margin: 5px 20px;
}

.header-text-container {
  margin-left: 20px;
}

.header-text-container p {
  font-size: small;
}

.header-buttons {
  grid-column: 2 / 3;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #0284c7;
  color: white;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 90px;
  font-weight: bold;
}

.main-content {
  background-color: #e2e8f0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects,
.right-side {
  margin-left: 20px;
}

.right-side {
  margin-right: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-left: 5px solid #facc15;
  box-shadow: 1px 1px 10px #aaaaaa;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
} 

.card-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-icons div {
  margin: 15px;
}

.card-text,
.news,
.project-title {
  color: #71717a;
  font-weight: 400;
}

.news {
  font-size: small;
}

.card-title,
.news-title {
  color: black;
  font-weight: bold;
  font-size: medium;
}

.announcements-container,
.trending-container {
  box-shadow: 1px 1px 10px #aaaaaa;
  border-radius: 10px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.news,
.trend {
  margin: 20px;
}

.news {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e8f0;
}

#last-news {
  border-bottom: 0;
}

.trend {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

.profile-info-container {
  margin-left: 10px;
  font-size: small;
}

.nickname {
  font-weight: bold;
}

.sidebar {
  background-color: #0284c7;
  color: white;
  font-weight: 500;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr 6fr;
}

.top-sidebar,
.main-sidebar,
.bottom-sidebar {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#dashboard-icon {
  grid-column: 1 / 2;
  margin: 10px;
}

.top-sidebar > div {
  grid-column: 2 / 3;
  margin-top: 20px;
  font-size: larger;
}

.sidebar-icon {
  grid-column: 1 / 2;
  margin-left: 20px;
}

.main-sidebar,
.bottom-sidebar {
  align-content: baseline;
  margin-bottom: 30px;
}

.main-sidebar > div {
  margin-top: 10px;
}

.bottom-sidebar > div {
  margin-top: 10px;
}